@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary: #ffaf08;
  --black: #070506;
  --border: 1.6px solid rgba(0, 0, 0, 0.1);
  --border-hover: 1.6px solid var(--black);
  --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  --swiper-theme-color: var(--primary);
  --danger: #dc3545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s linear;
  transition: width none;
}

html {
  overflow-x: hidden;
}

body {
  background: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

#preloader {
  background: var(--black) url(../images/preloader.gif) no-repeat center center;
  background-size: 30vh;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#overlay {
  background: transparent;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
}
#overlay.active {
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#sidebar {
  position: fixed;
  max-width: 260px;
  width: 100%;
  background: var(--black);
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all 0.3s ease;
  z-index: 200;
}
#sidebar .logo__details {
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  padding: 5px;
  gap: 5px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease;
}
#sidebar .logo__details img {
  width: 50px;
}
#sidebar .logo__details h1 {
  color: var(--primary);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
#sidebar .icon {
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}
#sidebar .icon-right {
  margin-left: auto;
  transition: all 0.3s ease;
}
#sidebar .side-menu {
  margin: 36px 0;
  padding: 0 20px;
  transition: all 0.3s ease;
}
#sidebar .side-menu a {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  padding: 12px 16px 12px 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin: 4px 0;
  white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
  background-color: var(--primary);
  color: var(--black);
}
#sidebar .side-menu > li > a.active .icon-right {
  transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active, #sidebar .side-menu > li > a.active:hover {
  background-color: var(--primary);
  color: var(--black);
}
#sidebar .divider {
  margin-top: 24px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary);
  transition: all 0.3s ease;
  white-space: nowrap;
}
#sidebar .side-dropdown {
  padding-left: 48px;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.15s ease;
}
#sidebar .side-dropdown a:hover {
  color: var(--primary);
}
#sidebar .side-dropdown.show {
  max-height: 1000px;
}
#sidebar::-webkit-scrollbar {
  display: none;
}
#sidebar.hide {
  max-width: 60px;
}
#sidebar.hide .logo__details {
  justify-content: flex-start;
}
#sidebar.hide .side-menu {
  padding: 0 6px;
}
#sidebar.hide .divider {
  text-align: center;
}
#sidebar.hide + #content {
  width: calc(100% - 60px);
  left: 60px;
}
#sidebar.hide + #content nav {
  width: calc(100% - 60px);
  left: 60px;
}
#sidebar.hide:hover {
  max-width: 260px;
}
#sidebar.hide:hover .divider {
  text-align: left;
}
#sidebar.hide:hover .side-menu {
  padding: 0 20px;
}
#sidebar.hide:hover .logo__details {
  justify-content: center;
}

#content {
  position: relative;
  width: calc(100% - 60px);
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  #content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
  }
}
#content nav {
  background: var(--black);
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 28px;
  position: fixed;
  top: 0;
  left: 260px;
  width: calc(100% - 260px);
  z-index: 100;
  transition: all 0.3s ease;
  transform-style: preserve-3d;
}
#content nav .toggle-sidebar {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
#content nav form {
  max-width: 400px;
  margin: auto;
  display: block;
  width: calc(100% - 60px);
  position: fixed;
  top: -100%;
  right: 3%;
  transform: translateZ(-10px);
  transition: top 0.7s;
  box-shadow: var(--box-shadow);
}
@media (min-width: 768px) {
  #content nav form {
    width: 100%;
    position: unset;
    top: unset;
    transform: unset;
  }
}
#content nav form .form-group {
  position: relative;
}
#content nav form .form-group input {
  width: 100%;
  background: var(--primary);
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 36px 10px 16px;
  transition: all 0.3s ease;
}
#content nav form .form-group input:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px var(--primary);
}
#content nav form .form-group .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  color: var(--black);
}
#content nav form.active {
  top: 75px;
}
#content nav .right {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (min-width: 320px) {
  #content nav .right {
    gap: 25px;
  }
}
#content nav .right .icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 350px) {
  #content nav .right .icons {
    gap: 25px;
  }
}
@media (min-width: 768px) {
  #content nav .right .icons #search-btn {
    display: none;
  }
}
#content nav .right .icons .nav-link {
  display: inline-block;
  position: relative;
}
@media (min-width: 768px) {
  #content nav .right .icons .nav-link {
    position: relative;
    display: unset;
  }
}
#content nav .right .icons .nav-link .badge {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--black);
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-size: 10px;
  font-weight: 700;
}
#content nav .right .icons .nav-link i {
  font-size: 18px;
  color: #fff;
}
#content nav .right .divider {
  width: 1.5px;
  color: var(--primary);
  background: var(--primary);
  height: 12px;
  display: flex;
  align-items: center;
}
#content nav .right .profile {
  position: relative;
}
#content nav .right .profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
#content nav .right .profile .profile-link {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background: var(--primary);
  padding: 10px 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 160px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
#content nav .right .profile .profile-link a {
  padding: 10px 16px;
  display: flex;
  grid-gap: 10px;
  font-size: 14px;
  color: var(--black);
  align-items: center;
  transition: all 0.3s ease;
}
#content nav .right .profile .profile-link a:hover {
  background: var(--black);
  color: var(--primary);
}
#content nav .right .profile .profile-link.show {
  opacity: 1;
  pointer-events: visible;
  top: 100%;
}

main {
  margin-top: 60px;
  width: 100%;
  padding: 24px 20px 20px 20px;
  height: calc(100vh - 60px);
}
main .title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
main .breadcrumbs {
  display: flex;
  grid-gap: 6px;
}
main .breadcrumbs li {
  font-size: 14px;
}
main .breadcrumbs li a {
  font-size: 14px;
  color: #fff;
}
main .breadcrumbs li a.active {
  color: var(--black);
  pointer-events: none;
}
main .breadcrumbs li.divider {
  color: var(--black);
  pointer-events: none;
}

/*# sourceMappingURL=admin.css.map */
