@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary: #ffaf08;
  --black: #070506;
  --border: 1.6px solid rgba(0, 0, 0, 0.1);
  --border-hover: 1.6px solid var(--black);
  --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  --swiper-theme-color: var(--primary);
  --danger: #dc3545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s linear;
  transition: width none;
}

html {
  scroll-padding-top: 65px;
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  html {
    scroll-padding-top: 124px;
  }
}

body {
  width: 100%;
}

#preloader {
  background: var(--black) url(../images/preloader.gif) no-repeat center center;
  background-size: 30vh;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 11;
}

.alert {
  background: var(--black);
  color: #fff;
  padding: 10px 20px;
  min-width: 280px;
  max-width: 420px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  margin-bottom: 10px;
  border-radius: 3px;
  border-left: 8px solid #1c1c1c;
  z-index: 11;
  display: block;
}
.alert .fa-circle-exclamation {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.alert .msg {
  padding: 0 30px;
  font-size: 14px;
}
.alert .close-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2d2d2d;
  padding: 10px 10px;
  border-radius: 3px;
  cursor: pointer;
}

#backgroundOverlay {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 4;
}
#backgroundOverlay.active {
  display: block;
}

.title-header {
  margin: 0 auto;
  background: var(--black);
  color: var(--primary);
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 250px;
  text-transform: uppercase;
}

.header {
  margin-bottom: 55px;
}
@media (min-width: 768px) {
  .header {
    margin-bottom: 114px;
  }
}
.header .header-1 {
  position: fixed;
  top: 0;
  width: 100%;
  background: url(../images/navbar.png);
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 3%;
  margin: 0;
  transform-style: preserve-3d;
  z-index: 10;
}
@media (min-width: 768px) {
  .header .header-1 {
    padding: 15px 6%;
    transform-style: unset;
  }
}
.header .header-1 .logo img {
  width: 110px;
  position: fixed;
  top: 5px;
}
@media (min-width: 375px) {
  .header .header-1 .logo img {
    width: 120px;
    top: 0px;
  }
}
@media (min-width: 768px) {
  .header .header-1 .logo img {
    top: 15px;
  }
}
@media (min-width: 992px) {
  .header .header-1 .logo img {
    width: 140px;
    top: 5px;
  }
}
.header .header-1 .search-form {
  background: rgba(7, 5, 6, 0.95);
  display: flex;
  align-items: center;
  border: var(--border);
  border-radius: 10px;
  height: 40px;
  width: 60%;
  position: fixed;
  top: -100%;
  right: 3%;
  transform: translateZ(-10px);
  transition: top 0.7s;
}
@media (min-width: 768px) {
  .header .header-1 .search-form {
    width: 50%;
    margin-left: 140px;
    position: unset;
    transform: unset;
    z-index: 12;
    top: unset;
  }
}
@media (min-width: 1025px) {
  .header .header-1 .search-form {
    width: 30%;
  }
}
.header .header-1 .search-form input {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #fff;
  font-size: 16px;
}
.header .header-1 .search-form label {
  color: var(--primary);
  padding-right: 10px;
  font-size: 25px;
}
.header .header-1 .search-form label:hover {
  color: #fff;
}
.header .header-1 .search-form.active {
  top: 67px;
}
.header .header-1 .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header .header-1 .left #search-btn,
.header .header-1 .left #navbar {
    display: none;
  }
}
.header .header-1 .left div,
.header .header-1 .left a {
  display: flex;
  align-items: center;
  color: var(--primary);
  font-size: 25px;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .header .header-1 .left div,
.header .header-1 .left a {
    padding-left: 15px;
  }
}
.header .header-1 .left div:hover,
.header .header-1 .left a:hover {
  color: #fff;
}
.header .header-1 .left div:first-child,
.header .header-1 .left a:first-child {
  padding-left: 0;
}
.header .header-1 .left a {
  text-decoration: none;
}

.custom-nav {
  display: none;
  text-align: center;
  z-index: 9;
}
@media (min-width: 768px) {
  .custom-nav {
    display: block;
    background: var(--primary);
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
  }
}
.custom-nav a {
  text-decoration: none;
  display: inline-block;
  color: var(--black);
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.custom-nav a:hover {
  background-color: var(--black);
  color: var(--primary);
}

.dropdown-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  right: -5000px;
  background: rgba(255, 177, 8, 0.95);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: right 0.7s;
}
.dropdown-nav div {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
}
.dropdown-nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--black);
  padding: 10px;
}
.dropdown-nav a:hover {
  background: var(--black);
  color: var(--primary);
  border-radius: 5px;
}
.dropdown-nav.active {
  right: 0;
}

.login-form-container {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form-container form {
  position: relative;
  border: var(--border);
  width: 350px;
  margin: 20px;
  padding: 15px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  background: var(--black);
  color: #fff;
}
.login-form-container form .logo {
  position: absolute;
  left: 10px;
  top: 5px;
}
.login-form-container form .logo img {
  width: 50px;
}
@media (min-width: 321px) {
  .login-form-container form .logo img {
    width: 60px;
  }
}
.login-form-container form h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  color: #fff;
  margin-top: 20px;
}
@media (min-width: 321px) {
  .login-form-container form h3 {
    font-size: 24px;
  }
}
.login-form-container form span {
  display: block;
  text-transform: capitalize;
  font-size: 12px;
}
@media (min-width: 321px) {
  .login-form-container form span {
    font-size: 14px;
  }
}
.login-form-container form .box {
  border: var(--border);
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  margin: 5px 0;
}
@media (min-width: 321px) {
  .login-form-container form .box {
    height: 40px;
  }
}
.login-form-container form .checkbox {
  display: flex;
  align-items: center;
  padding: 5px 1;
  gap: 5px;
}
.login-form-container form .checkbox input[type=checkbox] {
  transform: scale(1.1);
}
.login-form-container form .checkbox label {
  font-size: 12px;
  text-transform: capitalize;
}
@media (min-width: 321px) {
  .login-form-container form .checkbox label {
    font-size: 13px;
  }
}
.login-form-container form input[type=submit] {
  background: var(--primary);
  border: var(--primary);
  width: 100%;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  height: 30px;
  margin: 10px 0;
  border-radius: 5px;
}
@media (min-width: 321px) {
  .login-form-container form input[type=submit] {
    height: 40px;
    font-size: 16px;
  }
}
.login-form-container form input[type=submit]:hover {
  background: #fff;
  border-color: #fff;
  color: var(--primary);
}
.login-form-container form p {
  font-size: 12px;
  text-transform: capitalize;
  color: #fff;
}
@media (min-width: 321px) {
  .login-form-container form p {
    font-size: 13px;
  }
}
.login-form-container form p a,
.login-form-container form p label {
  color: var(--primary);
  text-decoration: underline;
}
.login-form-container.active {
  right: 0;
}

.reg-form-container {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reg-form-container form {
  position: relative;
  border: var(--border);
  width: 350px;
  margin: 20px;
  padding: 15px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  background: var(--black);
  color: #fff;
}
.reg-form-container form .logo {
  position: absolute;
  left: 10px;
  top: 5px;
}
.reg-form-container form .logo img {
  width: 50px;
}
@media (min-width: 321px) {
  .reg-form-container form .logo img {
    width: 60px;
  }
}
.reg-form-container form h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  color: #fff;
  margin-top: 20px;
}
@media (min-width: 321px) {
  .reg-form-container form h3 {
    font-size: 24px;
  }
}
.reg-form-container form span {
  display: block;
  text-transform: capitalize;
  font-size: 12px;
}
@media (min-width: 321px) {
  .reg-form-container form span {
    font-size: 14px;
  }
}
.reg-form-container form .box {
  border: var(--border);
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  margin: 5px 0;
}
@media (min-width: 321px) {
  .reg-form-container form .box {
    height: 40px;
  }
}
.reg-form-container form .checkbox {
  display: flex;
  align-items: center;
  padding: 5px 1;
  gap: 5px;
}
.reg-form-container form .checkbox input[type=checkbox] {
  transform: scale(1.1);
}
.reg-form-container form .checkbox label {
  font-size: 12px;
  text-transform: capitalize;
}
@media (min-width: 321px) {
  .reg-form-container form .checkbox label {
    font-size: 13px;
  }
}
.reg-form-container form input[type=submit] {
  background: var(--primary);
  border: var(--primary);
  width: 100%;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  height: 30px;
  margin: 10px 0;
  border-radius: 5px;
}
@media (min-width: 321px) {
  .reg-form-container form input[type=submit] {
    height: 40px;
    font-size: 16px;
  }
}
.reg-form-container form input[type=submit]:hover {
  background: #fff;
  border-color: #fff;
  color: var(--primary);
}
.reg-form-container form p {
  font-size: 12px;
  text-transform: capitalize;
  color: #fff;
}
@media (min-width: 321px) {
  .reg-form-container form p {
    font-size: 13px;
  }
}
.reg-form-container form p a,
.reg-form-container form p label {
  color: var(--primary);
  text-decoration: underline;
}

section {
  padding: 0 3%;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  section {
    padding: 0 6%;
  }
}

.banner {
  padding: 0;
}
.banner img {
  width: 100%;
}

.branch {
  text-align: center;
}
.branch h1 {
  font-weight: 900;
}
.branch h5 {
  font-weight: 700;
}

.menu {
  background: var(--black);
  padding: 20px 6%;
}
.menu .title-header {
  background: var(--primary);
  color: var(--black);
}
.menu .menu__content .menu__card {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 240px;
  height: auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.103);
  color: #fff;
  text-align: center;
  border-radius: 5px;
}
.menu .menu__content .menu__card .menu__image {
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.menu .menu__content .menu__card .menu__image img {
  width: 100%;
  object-fit: cover;
}
.menu .menu__content .menu__card .menu__image img:hover {
  transform: scale(1.1);
}
.menu .menu__content .menu__card:hover {
  background: var(--primary);
}
.menu .menu__content .menu__card .menu__name {
  text-align: center;
  width: 100%;
  flex-grow: 1;
}

.updates .row {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.updates .row .col {
  width: 500px;
  background: var(--black);
  color: #fff;
  padding: 20px;
  padding-bottom: 15px;
  border-radius: 5px;
  display: none;
}
.updates .row .col h4 {
  padding-top: 10px;
  font-weight: 600;
}
.updates .row .col h5 {
  font-weight: 500;
}
.updates .row .col .image-cont {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  overflow: hidden;
}
.updates .row .col .image-cont img {
  width: 100%;
  height: 100%;
}
.updates .row .col .image-cont img:hover {
  transform: scale(1.1);
}
.updates .row .col:nth-child(1), .updates .row .col:nth-child(2) {
  display: block;
}
.updates #load-more {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.updates #load-more .load-more {
  padding: 5px;
  background: var(--black);
  color: var(--primary);
  border: 1px solid var(--black);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
}
.updates #load-more .load-more:hover {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--black);
  border: 1px solid var(--primary);
}

.feedbacks .feedbacks__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
.feedbacks .feedbacks__cont .feedbacks__card {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background: var(--black);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  display: none;
}
.feedbacks .feedbacks__cont .feedbacks__card .feedbacks__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .feedbacks .feedbacks__cont .feedbacks__card .feedbacks__top {
    flex-wrap: unset;
  }
}
.feedbacks .feedbacks__cont .feedbacks__card .feedbacks__top .feedbacks__user-profile {
  display: flex;
  align-items: center;
}
.feedbacks .feedbacks__cont .feedbacks__card .feedbacks__top .feedbacks__user-profile .feedbacks__user-profile__image {
  border: 2px solid var(--primary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.feedbacks .feedbacks__cont .feedbacks__card .feedbacks__top .feedbacks__user-profile .feedbacks__user-profile__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.feedbacks .feedbacks__cont .feedbacks__card .feedbacks__top .feedbacks__user-profile .feedbacks__name-user {
  display: flex;
  flex-direction: column;
}
.feedbacks .feedbacks__cont .feedbacks__card .feedbacks__top .feedbacks__user-profile .feedbacks__name-user h5 {
  font-weight: 600;
}
.feedbacks .feedbacks__cont .feedbacks__card .feedbacks__top .feedbacks__rate {
  margin-top: 10px;
  color: var(--primary);
}
@media (min-width: 768px) {
  .feedbacks .feedbacks__cont .feedbacks__card .feedbacks__top .feedbacks__rate {
    margin-top: unset;
  }
}
.feedbacks .feedbacks__cont .feedbacks__card:hover {
  transform: translateY(-10px);
}
.feedbacks .feedbacks__cont .feedbacks__card:nth-child(1), .feedbacks .feedbacks__cont .feedbacks__card:nth-child(2) {
  display: block;
}
.feedbacks .feedbacks__cont .feedbacks__comments h5 {
  font-weight: 500;
}
.feedbacks #load-more-feedbacks {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.feedbacks #load-more-feedbacks .load-more-feedbacks {
  padding: 5px;
  background: var(--black);
  color: var(--primary);
  border: 1px solid var(--black);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
}
.feedbacks #load-more-feedbacks .load-more-feedbacks:hover {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--black);
  border: 1px solid var(--primary);
}

.catalog {
  margin-top: 75px;
}
@media (min-width: 768px) {
  .catalog {
    margin-top: 134px;
  }
}
.catalog .title-header {
  margin-top: 20px;
}
.catalog .container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.catalog .container .container-left {
  width: 350px;
}
.catalog .container .container-left .container-left-cont {
  background: var(--black);
  width: 100%;
  height: 600px;
  border-radius: 3px;
}
.catalog .container .container-right {
  width: 100%;
}
.catalog .container .container-right .container-right-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.catalog .container .container-right .container-right-cont .catalog-box {
  background: var(--black);
  padding: 15px;
  width: 260px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.catalog .container .container-right .container-right-cont .catalog-box .img-cont {
  width: 100%;
  height: 150px;
  border-radius: 3px;
  overflow: hidden;
}
.catalog .container .container-right .container-right-cont .catalog-box .img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.catalog .container .container-right .container-right-cont .catalog-box .img-cont img:hover {
  transform: scale(1.1);
}
.catalog .container .container-right .container-right-cont .catalog-box .details {
  text-align: center;
  color: #fff;
}
.catalog .container .container-right .container-right-cont .catalog-box .details h5 {
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}
.catalog .container .container-right .container-right-cont .catalog-box .details .price {
  font-weight: 700;
  color: var(--primary);
}
.catalog .container .container-right .container-right-cont .catalog-box .details .order-btn {
  margin-top: 5px;
  padding: 3px 8px;
  background: var(--primary);
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 3px;
}
.catalog .container .container-right .container-right-cont .catalog-box .details .order-btn i {
  padding-right: 5px;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */








footer{
  background: black;
  width: 100%;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

footer::before{
  content: '';
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
  align-items: center;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
  align-items: center;

}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 20px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 30px;
  width: 30px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
  align-items: center;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 30%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 4 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 30px;
}
.link-boxes .input-box input{
  height: 30px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 12px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 12px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: black;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 10px;
  font-weight: 200;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 30%;
    margin-top: 2px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 25px;
    width: 25px;
    font-size: 14px;
    line-height: 25px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 30%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 8px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }

}







body {
  background: url(../images/background.png);
  
}

#bodybox {
  margin: auto;
  max-width: 550px;
  font: 15px arial, sans-serif;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  padding-top: 100px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 15px;
}

#chatborder {
  border-style: solid;
  background-color: #f6f9f6;
  border-width: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 15px;
}

.chatlog {
   font: 15px arial, sans-serif;
}

#chatbox {
  font: 17px arial, sans-serif;
  height: 22px;
  width: 100%;
}

h1 {
  margin: auto;
}

pre {
  background-color: #f0f0f0;
  margin-left: 20px;
}


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root{--primary: #db6777}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow: hidden
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 860px
}
.watchBackground{
    position: relative;
    width: 50%;
    height: 453px;
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1), 0 15px 35px rgba(0, 0, 0, 0.1);
    transition: .5s;
    overflow:hidden
}
.gradients{
    position: absolute;
    width: 100%;
    height: 100%;left: 0;top: 0}
    .gradient{position: absolute;width: 100%;height: 100%;left: 0;top: 0;z-index: -2}
    .first{z-index: 0;animation: 1s width ease}
    @keyframes width{from{width: 0%}to{width: 100%}}
    .second{z-index: -1}
    .gradient[color="blue"]{background-image: linear-gradient(45deg,#e7707e, #c5384f)}
    .gradient[color="red"]{background-image: linear-gradient(45deg, #555d7a, #3c425a)}
    .gradient[color="green"]{background-image: linear-gradient( 45deg , #87a694, #7a9c89)}
    .gradient[color="orange"]{background-image: linear-gradient( 45deg , #d2b7b0, #c6aaa3)}
    .logo{position: absolute;width: 100px;left: 20px;top: 20px}
    .share{position: absolute;
        top: 19px;right: 15px;
        background-color: #fff;width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        font-size: 14px;
        text-decoration: none;
        color: var(--primary);
        transition: .5s
    }
    .share:hover{
            transform: scale(1.1)}
    .share i{line-height: 30px}.nike{position: absolute;top: 85px;left: 15px;font-size: 11rem;text-transform: uppercase;line-height: .9;
        color: #fff;opacity: .1}.watch{position: absolute;width: 79%;opacity: 0;bottom: 54px;right: 35px;transform: rotate(-20deg);
            transition: .5s}.watch.show{opacity: 1}.info{width: 50%;height: 452px;background-color: #fff;z-index: 1;padding: 35px 40px;
                box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1), 0 15px 35px rgba(0, 0, 0, 0.1)}
                .watchName{padding: 0 0 10px 0}.watchName div{display: flex;align-items: center}
                .watchName .big{margin-right: 10px;font-size: 20px;color: #333;line-height: 1}
                .watchName .new{background-color: var(--primary);text-transform: uppercase;color: #fff;height:20px;width:39px;
                    display:flex;justify-content:center;align-items:center;font-size:10px;border-radius:3px;transition: .5s}
                    .watchName .small{font-weight: 500;color: #444;font-size:15px;margin-top: 3px;text-transform: capitalize}
                    .watchName, .description, .color-container, .ratings-container{border-bottom: 1px solid #dadada}
                    .ratings-container .rating{margin-top: 10px;margin-bottom: 10px;margin-left: 10px;font-size: 20px}
                    .description{padding: 10px 0}.watch-name{margin-top: 10px;margin--bottom: 10px;transition: all 0.5s}
                    .description .text{font-size:14px}.title{color: #3a3a3a;font-weight: 600;font-size: 15px;text-transform: uppercase}
                    .text{color: #555;font-size: 17px}.color-container{padding: 10px 0}.colors{padding: 8px 0;display: flex;align-items: center}
                    .color{width: 25px;height: 25px;border-radius: 50%;margin: 0 10px;border: 5px solid;cursor: pointer;transition: .5s}
                    .color[color="blue"]{background-color: #db6777;border-color: #db6777}.color[color="red"]{background-color:#484f69;border-color:#484f69}.color[color="green"]{background-color: #7a9c89;border-color: #7a9c89}.color[color="orange"]{background-color: #caaea7;border-color: #caaea7}.color.active{border-color: #fff;box-shadow: 0 0 10px .5px rgba(0, 0, 0, 0.2);transform: scale(1.1)}.size-container{padding: 10px 0;margin-bottom: 10px}.sizes{padding: 8px 0;display: flex;align-items: center}.size{width: 30px;height: 30px;border-radius: 6px;
        background-color: #eee;margin: 0 10px;font-size:13px;font-weight: 500;cursor: pointer;transition: .3s;
        display:flex;justify-content:center;align-items:center}
    .size.active{background-color: var(--primary);color: #fff;transition: .5s}
    .buy-price{padding-top: 15px;
        display: flex;justify-content: space-between;align-items: center}
    .price{color: #333;display: flex;align-items: flex-start}
    .price h1{font-size: 30px;font-weight: 600;line-height: 1}
    .price i{font-size: 13px;margin-right: 1px}
    .buy{height:40px;width:150px;border-radius:4px;background-color: 
        var(--primary);text-decoration: none;color: #fff;
        display:flex;justify-content:center;align-items:center;
        text-transform: uppercase;letter-spacing: 1px;font-weight: 500;font-size: 15px;transition: .5s}
    .buy:hover{transform: scale(1.1)}
    .buy i{margin-right: 2px}@media (max-width: 1070px){.watch{width: 135%}}
    @media (max-width: 1000px){
        .card{flex-direction: column;width: 100%;box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2)}
    .card>div{width: 100%;box-shadow: none}
    .watch{width: 100%;transform: rotate(-5deg) translateY(-50%);top: 55%;right: -7%}
    .nike{top: 20%;left: 5%}}
    @media (max-width: 600px){
        .share{width: 40px;height: 40px}
    .share i{font-size: 1rem;line-height: 40px}
    .logo{width: 70px}
}@media (max-width: 490px){
        .nike{font-size: 7rem}
    .watchName div .big{font-size: 1.3rem}
    .small{font-size: 1rem}
    .new{padding: 2px 6px;font-size: .9rem}
    .title{font-size: .9rem}
    .text{font-size: .8rem}
    .buy{padding: .5rem .8rem;font-size: .8rem}
    .price h1{font-size: 1.5rem}
    .price i{font-size: .9rem}
    .size{width: 30px;height: 30px;margin: 0 8px;font-size: .9rem;line-height: 30px}
    .color{margin: 0 6px;width: 0 20px;width: 20px;height: 20px;border-width: 4px}
    .share{width: 35px;height: 35px;top: 10px;right: 10px}
    .share i{font-size: .8rem;line-height: 35px}
    .logo{width: 60px;top: 10px;left: 10px}.info{padding: 20px}}
    @media (max-width: 400px){
        .buy i{display: none}
    .container{padding: 20px}}
